<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <title>alpha admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amis/2.0.2/sdk.css"
          integrity="sha512-tE5oqgMkIN7a5MNTOJBrdHHS9o5ZmQ01igsFOyYz6BtQ6j8F1vDHBuYM7mj4f8qOuo2oNMh/BUQCkxbiqj5jxw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amis/2.0.2/helper.css"
          integrity="sha512-ePWSsjacwABVVCAg8p65WjF7hk0ChbUT3qTgfN6XTOw78Eo2Z7Jry+gG5F0ncBeecx0Wunbsy57qdt31g+Kwwg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amis/2.0.2/iconfont.css"
          integrity="sha512-VOt3BHFLnScxjSNMtYwJsQKkFvirxZUrUL1iVoBhajARE3hOp15xBMrR/qEjrhaJqTehLJf9aefAD2syTgrOug=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- 这是默认主题所需的，如果是其他主题则不需要 -->
    <!-- 从 1.1.0 开始 sdk.css 将不支持 IE 11，如果要支持 IE11 请引用这个 css，并把前面那个删了 -->
    <!-- <link rel="stylesheet" href="sdk-ie11.css" /> -->
    <!-- 不过 amis 开发团队几乎没测试过 IE 11 下的效果，所以可能有细节功能用不了，如果发现请报 issue -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<div id="root" class="app-wrapper"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/amis/2.0.2/sdk.js"
        integrity="sha512-SKnbHCbhhJFDL4mucgmdtCTKGOhvkQ51QkVFbBgMU39LROQKr154fd6kXwxitT4zxQzrdS3o8uxrbK/SpQ+0Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/amis/2.0.2/charts.js"
        integrity="sha512-a7N+3O3DjKgOCN20K6l9wjpbte+getc+9UzZzxdIrTaTQtS0VQ+LMekFomsx9Kg53l9X4qQ5qKOCiXySY5Mzjw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    (function () {
        let amis = amisRequire('amis/embed');
        fetch('/admin/schema?v=' + Date.now(), {cache: 'no-store'})
            .then(function (response) {
                if (!response.ok) {
                    throw new Error('admin schema load failed: ' + response.status);
                }
                return response.json();
            })
            .then(function (amisJSON) {
                amis.embed('#root', amisJSON);
            })
            .catch(function (error) {
                console.error(error);
                document.getElementById('root').innerHTML = '<div style="padding: 24px; color: #c00;">页面配置加载失败，请刷新页面或检查 /admin/schema。</div>';
            });
    })();
</script>
</body>

</html>
